[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
app = "python manage.py runserver"
